body{
 background-color: dimgray;
 color: black;
}
footer{
    background-color:black;
    width: 100%;
    margin-left: 0px;
    position: static;
    bottom: 0;
    left: 0;
    height: 25px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}
.Content{
    width: 95%;
    height: 475px;
    margin-left: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    background-color: white;
}
#FooterTable {
    text-align: center;
    margin-left: 5%;
    margin-top: 5px;
    font-size: 15px;
    
}
#SRIName {
    color: rgb(255, 255, 255);
    width: 80%;
    margin-left: 9%;
    text-align: center;
    font-size: 75px;
    margin-top: 0px;
}
#NavBar {
    border-width: 2px;
    border-color: white;
    border-style: solid;
    background-color: black;
    width: 80%;
    margin-left: 9%;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    font-style: italic;
}
a:link, a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: underline;
    border-width: 2px;
    border-color: black;
    border-style: dashed;
    padding: 3px 3px;
}
#AGgames{
    border: black solid 2px;
    text-align: left;
    table-layout: fixed;
    padding:  3px;
    margin-left: 50px;
    width: 60%;
}
#AGgames td, th{
    border: black solid 2px;
    padding: 4px;
}